<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Home')"></head>
<body>

<div th:replace="layout :: nav"></div>
<div class="container">

    <h1 class="mt-4 mb-5">Tools</h1>
    
    <div class="row">
        <div class="col-md-6">
            <a th:href="@{/gRNA_Designer}" class="button btn btn-outline-primary p-5 w-100">gRNA Designer</a>
        </div>
        <div class="col-md-6">
            <a th:href="@{/downloadEnsmbl}" class="button btn btn-outline-primary p-5 w-100">Download Ensmbl</a>
        </div>
    </div>

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>