<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)" lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/assets/app.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title th:text="'gRNA | ' + ${page_title}">LoL</title>
</head>

<body>
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/}">CRISPRTS tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tools
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/gRNA_Designer}">gRNA Designer</a>
                        <a class="dropdown-item" th:href="@{/downloadEnsmbl}">Download Ensmbl</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/about}">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div th:fragment="scripts">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
</div>
</body>
</html>